*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(246, 226, 230);
}

.primary-btn{
    background: #3752FD;
    color: white;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}